/* stylesheet variations */

body {
	color: #303030;
	padding: 2em;
}

.lightpink {
	padding: 10px;
	background: lightpink;
}

.redText {
	color: rgba(225, 0, 0, 0.5);
}

.large {
	font-size: 3em;
}

#first-section {
	background: #303030;
	padding: 1em;
}

#featured {
	background: coral;
	color: #fff;
	text-align: justify;
}

#lineThrough {
	text-decoration: line-through;
	color: #aaa; 
}